<html>
    <body>
        <form method="POST" action="/f-addmarks">
            <label for="sid">sid</label>
            <input type="number" id="sid" name="sid">
            <br>
            <label for="year">Semister-Year</label>
            <input type="text" id="year" name="syear"><br>

            <label for="mlin">ML-INTERNAL</label>
            <input type="number" id="mlin" name="mlint"><br>
            <label for="mext">ML-EXTERNAL</label>
            <input type="number" id="mlext" name="mlext"><br>
            <label for="mltotal">ML-TOTAL</label>
            <input type="number" id="mltotal" name="mltotal"><br>
            <label for="mlgrade">ML-GRADE</label>
            <input type="text" id="mlgrade" name="mlgrade"><br>

            <label for="cdint">CD-INTERNAL</label>
            <input type="number" id="mlin" name="cdint"><br>
            <label for="cdext">CD-EXTERNAL</label>
            <input type="number" id="cdext" name="cdext"><br>
            <label for="cdtotal">CD-TOTAL</label>
            <input type="number" id="cdtotal" name="cdtotal"><br>
            <label for="cdgrage">CD-GRAGE</label>
            <input type="number" id="cdgrade" name="cdgrage"><br>

            <label for="slint">SL-INTERNAL</label>
            <input type="number" id="slint" name="slint"><br>
            <label for="slext">SL-EXTERNAL</label>
            <input type="number" id="slext" name="slext"><br>
            <label for="sltotal">SL-TOTAL</label>
            <input type="number" id="sltotal" name="sltotal"><br>
            <label for="slgrade">SL-GRAGE</label>
            <input type="number" id="slgrade" name="slgrade"><br>


            <label for="dppmint">DPPM-INTERNAL</label>
            <input type="number" id="dppmint" name="dppmint"><br>
            <label for="dppmext">DM-EXTERNAL</label>
            <input type="number" id="dppmext" name="dppmext"><br>
            <label for="dppmtotal">DM-TOTAL</label>
            <input type="number" id="dppmtotal" name="dppmtotal"><br>
            <label for="dppmgrade">DM-GRAGE</label>
            <input type="number" id="dppmgrade" name="dppmgrade"><br>

            <label for="cgpa">cgpa </label>
            <input type="integer" id="cgpa" name="cpga"></br>
            <label for="gpa">gpa </label>
            <input type="integer" id="gpa" name="gpa"></br>


        

            

            <input type="submit" value="Submit" href="/">
        </form>
    </body>
</html>
