<html>
    <head>
        <style>
            #sid{
                padding:10px;
                border-radius:10px;
                font-weight:bold;
            }
            #submit{
                cursor:pointer;
            }
        </style>
    </head>
    <body>
        <center>
        <form action="/getmarks" method="POST">
            <br>
            <br>
            <br>
            <br>
            <h1>Please Enter student Id  for Internal or External marks</h1>
            <label for="sid">sid</label>
            <input type="number" id="sid" name="sid">
            <br>
            <br>
            <input type="submit" value="Submit" id="submit" href="/">
        </form>
        </center>       
    </body>
</html>