<html>
    <body>
        <form method="POST" action="/insert_parentdata">
            <label for="pid">pid</label>
            <input type="number" name="pid" id="pid">
            <br>
            <label for="pusername">ppusername</label>
            <input type="text" name="pusername" id="pusername">
            <br>
            <br>
            <label for="ppassword">ppassword</label>
            <input type="password" name="ppassword" id="ppassword">
            <br>
            <label for="ssID">SSID</label>
            <input type="ssid" name="ssid" id="ssid"><br><br>
            <input type="submit" value="Submit" href="/">
        </form>
    </body>
</html>

            