<html>
    <body>
        <form method="POST" action="/addjobs">
            <h1>please insert job details </h1>
            <label for="jobposition">job position</label>
            <input type="text" id="jobposition" name="jobposition">
            <br>
            <label for="email">email</label>
            <input type="email" id="email" name="email">
            <br>
            <label for="location">Location</label>
            <input type="text" id="location" name="location">
            <br>
            <label for="salary">salary</label>
            <input type="integer" id="salary" name="salary">
            <br>
            <label for="experience">experience</label>
            <input type="integer" id="experience" name="experience">
            <br>
            <label for="url">url</label>
            <input type="url" id="url" name="url">
            <br>
            <input type="submit" value="Submit" href="/">
        </form>
    </body>
</html>
    

