<html>
<head>
    <title>Insert Data into STUDENTS TABLE SQLite</title>
</head>
<body>
    <h1>Insert Data into STUDENTS TABLE SQLite</h1>
    <form method="POST" action="/inserts-data" enctype="multipart/form-data">



        <label for="sid">SID</label>
        <input type="integer" id="sid" name="sid"><br>

        <label for="username">username</label>
        <input type="text" id="username" name="susername"><br>

        <label for="password">password:</label>
        <input type="password" id="password" name="spassword"><br>

        <label for="name">name:</label>
        <input type="text" id="name" name="sname"><br>


        <label for="fathername">Father Name:</label>
        <input type="text" id="fathername" name="sfathername"><br>

        <label for="mothername">Mothername:</label>
        <input type="text" id="mothername" name="smothername"><br>
        
        <label for="mobilenumber">stu-mobilenumber</label>
        <input type="NUMBER" id="mobilenumber" name="smobilenumber"><br>

        <label for="pmobilenumber">par-mobilenumber</label>
        <input type="NUMBER" id="pmobilenumber" name="pmobilenumber"><br>

        <label for="dob">DOB</label>
        <input type="TEXT" id="dob" name="dob"><br>

        <label for="gender">Gender</label>
        <input type="text" id="gender" name="gender"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="semail"><br>

        <label for="course">course</label>
        <input type="text" id="course" name="scourse"><br>

        <label for="ssc">ssc marks</label>
        <input type="NUMBER" id="ssc" name="sscmarks"><br>


        <label for="intermarks">intermarks</label>
        <input type="NUMBER" id="intermarks" name="sintermarks"><br>

        <label for="aadhaar">aadhaar number</label>
        <input type="number" id="aadhaar" name="saadharnumber"><br>

        <label for="address">address</label>
        <input type="text" id="address" name="address"><br>
        <label for="city">City</label>
        <input type="text" id="city" name="city"><br>
        <label for="state">state</label>
        <input type="text" id="text" name="state"><br>

        <label for="country">country</label>
        <input type="text" id="country" name="country"><br>
        
        <label for="regapproved">Registration Approved by</label>
        <input type="text" id="regapproved" name="regapproved"><br>



        <input type="submit" value="Submit" href="/">
    </form>
</body>
</html>
