<html>
    <body>
        <h1>the username is:::{{username}} </h1>
        <h4>the student profile is </h4>
        
        <h1>{{ student[0] }}</h1>
        <h1>{{ student[3] }}</h1>
        <h1>{{ student[4] }}</h1>
        <h1>{{ student[5] }}</h1>
        <h1>{{ student[6] }}</h1>
        <h1>{{ student[7] }}</h1>
        <h1>{{ student[8] }}</h1>
        <h1>{{ student[9] }}</h1>
        <h1>{{ student[10] }}</h1>
        <h1>{{ student[11] }}</h1>
        <h1>{{ student[12] }}</h1>
    </body>
<html>